body {

  color: white;
  background-image: url("https://www.shutterstock.com/image-photo/dramatic-black-smoke-fire-danger-600nw-1927135535.jpg");
  
  background-size: cover;              
  background-repeat: no-repeat;     
  background-position: center;        
  background-attachment: fixed;        
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.d1 {
  display: flex;
  align-items: last baseline;
  height: 30vh;
  justify-content: center;
  border-color: rgb(255, 255, 255);
}
.d2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.d3 {
  align-items: center;
  justify-content: center;
  height: auto;

  box-shadow: 0px 4px 8px 0px rgb(243, 243, 243);
  width: 500px;
  border-radius: 20px;

  
}
.d4 {
  padding: 20px;
  border-radius: 10px;

  color:white;
  max-width: auto;
  margin: auto;
  text-align: center;
}

.t1 {
  width: 350px;
  font-size: 23px;
  border-radius: 15px;
  margin-right: 35px;
  box-shadow: 0 2px 8px 0 rgb(240, 239, 239);
  padding: 2px 2px 2px 10px;
  outline: none;
  height: 45px;
  background: transparent;
  color: rgb(255, 251, 251);
  border:1px white;
}
.b1{
  background: transparent;
    box-shadow: 0px 4px 8px 0px rgb(209, 208, 208);
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .d1 {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .t1 {
    margin-top: 20px;
    font-size: 18px;
    width: 80%;
  }

  .b1 {
    width: auto;
  }

  .d3 {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .d1 {
    height: auto;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
  }

  .t1 {
      box-shadow: 0 2px 8px 0 rgb(7, 7, 7);
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    width: 100%;
        margin-bottom:30px ;
  }

  .b1 {

    margin-left: 250px;
box-shadow: 0 2px 8px 0 rgb(7, 7, 7);
  }

  .d3 {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .d1 {
    height: auto;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
  }

  .t1 {
      box-shadow: 0 2px 8px 0 rgb(7, 7, 7);
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    width: 100%;
  }

  .b1 {
    margin-left: 35%;
box-shadow: 0 2px 8px 0 rgb(7, 7, 7);
  }

  .d3 {
    width: 40%;
  }
}